header,
footer {
    width: 100%;
    min-height: 50px;
}


/* header {
    top: 0px;
    position: sticky;
    z-index: 50;
    background: linear-gradient(107deg, rgba(153, 151, 249, 1) 0%, rgba(149, 142, 247, 1) 35%, rgba(129, 104, 240, 1) 50%, rgba(166, 192, 251, 1) 65%, rgba(175, 213, 254, 0) 92%);
} */

header .header-text {
    left: 1em;
}

main.container {
    margin-top: 20px;
}

aside {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100vh;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
    will-change: transform;
}

.wb-side-show {
    transform: none;
    transition: transform .5s ease-in-out;
    will-change: transform;
}

.nav-item.show {
    position: relative;
}

#side-toggle {
    position: absolute;
    top: 50%;
    right: -40px;
    height: 80px;
    width: 40px;
    opacity: .9;
    border-radius: 0px 40px 40px 0px;
    z-index: 5;
}

.logo {
    top: 40%;
    height: 200px;
    width: 200px;
}

.home-title {
    margin: 50px 0px;
    /* overflow: hidden; */
}

.safe-open {
    margin-bottom: 100px;
}

.wb-content-hidden {
    margin: 0px;
}

.wb-content-show {
    padding: 10px;
    height: 150px;
}

.wb-hidden-row {
    padding: 0 0px !important;
}

footer {
    z-index: 20;
    /* background: linear-gradient(107deg, rgba(153, 151, 249, 0) 8%, rgba(149, 142, 247, 1) 35%, rgba(129, 104, 240, 1) 50%, rgba(166, 192, 251, 1) 65%, rgba(175, 213, 254, 1) 100%); */
}

footer.position-fixed {
    bottom: 0px;
}

footer .footer-text {
    right: 1em;
}
